@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-size: 100%;
    font-family: 'Anonymous Pro', monospace; 
    background-color: black;
    color: #fff;
    width: auto;
}

.active{
  font-weight: bold;
}

ul.topnav {
    position: fixed;
    z-index: 3;
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

/* Float the list items side by side */
ul.topnav li:not(.icon) {float: left;}

/* Style the links inside the list items */
ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.topnav li a:hover {background-color: #111;}

/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav li.icon {display: none;}

/* When the screen is less than 680 pixels wide, hide all list items, except for the first one ("Home"). Show the list item that contains the link to open and close the topnav (li.icon) */
@media screen and (max-width:680px) {
    ul.topnav li:not(.active) {
      display: none;
    }

    ul.topnav li.icon {
        display: inline-block;
        position: fixed;
        right: 0;
    }
  }
  
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens */
  @media screen and (max-width:680px) {
    ul.topnav.responsive {position: absolute;}
    ul.topnav.responsive li.icon {
      position: fixed;
      right: 0;
      top: 0;
    }
    ul.topnav.responsive li {
      float: none;
      display: inline;
    }
    ul.topnav.responsive li a {
      display: block;
      text-align: left;
    }
  }

.container {
    height: 94vh;
    position: relative;
}
  
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.center p {
    margin: 0;
    position: relative;
}

.center h1{
    position: relative;
}

#imgdp{
    height: 200px;
    margin: 0;
}

#imgbg{
    height: 400px;
    margin: 0;
}

#imgwork{
    height: 200px;
    margin: 0;
    border-radius: 5px 5px 0 0;
    width: 100%;
}
/* Make sure that padding behaves as expected */
* {box-sizing:border-box}

/* Container for skill bars */
.container2 {
  width: 60vw; /* Full width */
  background-color: #ddd; /* Grey background */
}

.skills {
  text-align: right; /* Right-align text */
  padding-top: 10px; /* Add top padding */
  padding-bottom: 10px; /* Add bottom padding */
  color: white; /* White text color */
}
.cpp {width: 90%; background-color: #ffd600;} /* Green */
.c {width: 90%; background-color: #dd2c00;} /* Green */
.html {width: 80%; background-color: #00bfa5;} /* Green */
.css {width: 40%; background-color: #2196F3;} /* Blue */
.js {width: 30%; background-color: #808080;} /* Red */
.python {width: 35%; background-color: #37474f;} /* Dark Grey */

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    background: white;
    cursor: pointer;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 gray;
  }
  
  /* Add some padding inside the card container */
  .container3 {
    padding: 2px 16px;
    background: white;
    color: black;
    border-radius: 5px;
  }

   /* Style all font awesome icons */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
    background: #3B5998;
    color: white;
    border-radius: 3px;
  }
  
  /* Twitter */
  .fa-twitter {
    background: #55ACEE;
    color: white;
    border-radius: 3px;
  } 

  .fa-linkedin {
    background: #007bb5;
    color: white;
    border-radius: 3px;
  }
  
  .fa-youtube {
    background: #bb0000;
    color: white;
    border-radius: 3px;
  }
  
  .fa-instagram {
    background: #125688;
    color: white;
    border-radius: 3px;
  }

  .fa-github {
    background: #302f2f;
    color: white;
    border-radius: 3px;
  }